@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Righteous';
  src: url('../public/fonts/Righteous-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Condense';
  src: url('../public/fonts/Condense.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 24%, rgba(222, 231, 238, 1) 73%);
  font-family: "Righteous";
}

.header {
  font-family: "Condense";
}

.container-dash {
  background: url('../public/assets/tile-bg.png');
  background-repeat: repeat;
  background-color: white;
}

.button-prm:hover {
  -webkit-transform: translateY(-1px);
  transform: rotate(-2deg);
  transition: 0.20s;
}

.button-prm-active {
  -webkit-transform: translateY(-1px);
  transform: rotate(-2deg);
  transition: 0.20s;
}

.modal-box {
  background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 24%, rgba(222, 231, 238, 1) 73%);
}

.modal-dash {
  background: url('../public/assets/tile-bg.png');
  background-repeat: repeat;
  background-color: white;
}
