@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Righteous';
  src: url('../public/fonts/Righteous-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Condense';
  src: url('../public/fonts/Condense.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 24%, rgba(222, 231, 238, 1) 73%);
  font-family: "Righteous";
}

.header {
  font-family: "Condense";
}

.container-dash {
  background: url('../public/assets/tile-bg.png');
  background-repeat: repeat;
  background-color: white;
}

.button-prm:hover {
  -webkit-transform: translateY(-1px);
  transform: rotate(-2deg);
  transition: 0.20s;
}

.button-prm-active {
  -webkit-transform: translateY(-1px);
  transform: rotate(-2deg);
  transition: 0.20s;
}

.modal-box {
  background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 24%, rgba(222, 231, 238, 1) 73%);
}

.modal-dash {
  background: url('../public/assets/tile-bg.png');
  background-repeat: repeat;
  background-color: white;
}

.category-tag {
  position: relative;
  bottom: 50px;
  border: 3px solid rgb(82 82 82 / var(--tw-border-opacity));
  border-radius: 0.375rem;
}

.progress-bar {
  border-radius: 4px;
}

.progress-moved .progress-bar {
  animation-name: progressAnimation;
  animation-timing-function: linear;
}

.input-area:focus-within+.input-button,
.input-area:focus-within .input-button {
  border-left-color: black;
}

.fade-in {
  animation: fadeIn 2s;
}

.fade-in-long {
  animation: fadeIn 4s;
}

.animal {
  -webkit-mask-image: linear-gradient(45deg, #000 25%, rgba(0, 0, 0, .2) 50%, #000 75%);
  mask-image: linear-gradient(45deg, #000 25%, rgba(0, 0, 0, .2) 50%, #000 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
  animation: maskAnimation 10s ease-out infinite 1.5s;
}

@keyframes maskAnimation {
  0%, 40% {
    mask-position: 0;
  }

  60%, 100% {
    mask-position: 120%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes progressAnimation {
  0% {
    width: 100%;
    background-color: #77b300;
  }

  50% {
    width: 50%;
    background-color: #e69900;
  }


  100% {
    width: 0%;
    background-color: #ff4000;
  }
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  background: url('../public/assets/card-bg.png');
  background-size: 100%;
  transform: rotateY(180deg);
}